.loader {
    background: repeating-linear-gradient(10deg, color-text($colour-tertiary), $colour-secondary 40%, $colour-primary);
    width: 200px;
    height: 200px;
    border-radius: 250px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px groove color-text($colour-tertiary);
    position: absolute;
    top: 10rem;
    animation:loading 1.5s 0.1s cubic-bezier(.25, .20, .25,.20), fadein 1s 1.5s ease-in reverse;
    animation-fill-mode: both;
    & .fa-utensils {
        line-height: 150px;
        font-size: 4.5rem;
        color: color-text($colour-tertiary);
        animation:loading-reverse 0.5s 0.1s linear 3, fadein 0.7s alternate 2, fadein 1s 1.5s ease-in reverse;
        animation-fill-mode: both;
    }
}