.logo {
    height: 1.6rem;
    margin-bottom: 2%;
    margin-top: 8%;
    &--main {
        animation: fadein 1.5s 1.5s linear;
        animation-fill-mode: both;
    }
    &--footer {
        height: 1rem;
        width: auto;
        margin-bottom: 1.1rem;
        margin-top: 0%;
    }
}