$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-bkgr: hsl(0,0%,94%);

$colour-bkgr-dark: darken($colour-bkgr,4%);
$colour-bkgr-shadow: darken($colour-bkgr,14%);
