/*//// logos + titres ////*/

@font-face {
    font-family: 'shrikhandregular';
    src: url('../../assets/polices/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../assets/polices/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../../assets/polices/roboto-black-webfont.woff2') format('woff2'),
         url('../../assets/polices/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*//// texte ////*/

@font-face {
    font-family: 'robotoregular';
    src: url('../../assets/polices/roboto-regular-webfont.woff2') format('woff2'),
         url('../../assets/polices/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*///////////////////*/

.logo {
	@include titles-typography(1.5rem);
}

h1 {
	@include titles-typography(1.5rem);
}

h2
{
	@include titles-typography(1.5rem);
}

h3 {
	@include titles-typography(1rem);
}

p {
	@include text-typography;
}

a {
	@include text-typography;
}
