nav {
    width: 96%;
    margin: auto;
    margin-bottom: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include desktop {
        width: 49.5%;
        height: auto;
        background-color: $colour-bkgr;
        align-items: center;
        border: 3px solid $colour-bkgr-dark;
        margin: 0;
        padding-bottom: 2%;
    }
    @include tablette {
        width: 49%;
        height: auto;
        background-color: $colour-bkgr;
        align-items: center;
        border: 3px solid $colour-bkgr-dark;
        margin: 0;
        padding-bottom: 2%;
    }
}